section{
    background-color: white;
}
.header-section{
    text-align: center;
    padding: 40px;
}
.header-section h3{
    font-size: 35px;
    
}
.header-section p{
    margin-top: 15px;
    line-height: 1.7;
    color: #767676;
}
.cards{
    display: flex;
    margin: 0px 25px;
}
.cards mat-card{
    width: 18%;
    max-width: 320px;
    margin: auto;
    cursor: pointer;
}
hr {
    border: .5px solid rgba(65, 65, 65, 0.109);
}
mat-card-title{
    font-size: medium;
}
mat-icon{
    font-size: 15px;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: bolder;
}
.icon-favorite{
    color: #e34850;
}
.icon-share:hover{
    color:#4890e3;
}

mat-card-actions button{
    float: right;
    margin-right: 10px;
    margin-top: 7px;
}

.button-div{
    width: 100%;
    text-align: center;
    padding: 50px 0px;
}
button{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
    border: 2px solid#4b4b4b;
    outline: none;
    font-weight: bolder;
    color: #4b4b4b;
    padding: 3px 12px;
    transition: .2s;
}
button:hover{
    background-color: #4b4b4b;
    border: 2px solid#4b4b4b;
    color: white;
}
@media (max-width: 700px){
    br{
        display: none;
    }
    .cards{
        flex-wrap: wrap;
    }
    .cards mat-card{
        margin-bottom: 20px;
        width: 100%;
    }
}

@media (max-width: 1200px){
    br{
        display: none;
    }
    .cards{
        flex-wrap: wrap;
    }
    .cards mat-card{
        margin-bottom: 20px;
        width: 100%;
    }
    img{
        height: 100px;
    }
}