<section>
  <div class="header-section">
    <h3>How it works</h3>
    <p>Our complete library of fonts is included with any Creative Cloud<br>subscription.</p>
  </div>
  <div class="cards">    
    <div class="instruction-cards">
      <h4>Browse Fonts</h4>
      <img mat-card-image src="https://fonts.adobe.com/assets/home/home-123--1-cdd5f4c59e47c06dddaaf6e019342ad0efa75020577ab5b1072f8bedfe3c0a5f.svg">
      <p>In-app or in your web browser, find the fonts you need from thousands of options.</p>
    </div>
    <div class="instruction-cards">
      <h4>Browse Fonts</h4>
      <img mat-card-image src="https://fonts.adobe.com/assets/home/home-123--1-cdd5f4c59e47c06dddaaf6e019342ad0efa75020577ab5b1072f8bedfe3c0a5f.svg">
      <p>In-app or in your web browser, find the fonts you need from thousands of options.</p>
    </div>
    <div class="instruction-cards">
      <h4>Browse Fonts</h4>
      <img mat-card-image src="https://fonts.adobe.com/assets/home/home-123--1-cdd5f4c59e47c06dddaaf6e019342ad0efa75020577ab5b1072f8bedfe3c0a5f.svg">
      <p>In-app or in your web browser, find the fonts you need from thousands of options.</p>
    </div>
  </div>
  <div class="button-div">
    <button>Learn More</button>
  </div>
</section>