<footer>
  <section class="links-footer">
    <div class="logo-footer">
      <h1>Adobe Fonts</h1>
    </div>
    <div class="help-links">
      <div>
        <h4>BROWSE</h4>
        <p><a href="">Fonts</a></p>
        <p><a href="">Font Packs</a></p>
        <p><a href="">Foundries</a></p>
        <p><a href="">Designers</a></p>
      </div>
      <div>
        <h4>SUPPORT</h4>
        <p><a href="">Help</a></p>
        <p><a href="">Status Blog</a></p>
        <p><a href="">Twitter</a></p>
      </div>
      <div>
        <h4>ABOUT</h4>
        <p><a href="">Adobe Fonts</a></p>
        <p><a href="">Typekit Web Fonts</a></p>
        <p><a href="">Blog</a></p>
      </div>
      <div>
        <h4>ADOBE</h4>
        <p><a href="">Photography</a></p>
        <p><a href="">Design</a></p>
        <p><a href="">Illustration</a></p>
        <p><a href="">Video</a></p>
      </div>
    </div>
  </section>
  <hr>
  <section class="deep-footer">
    <div>
      <a href="">Terms of Use</a>
      <a href="">Privacy Policy</a>
      <a href="">Cookies</a>
      <a href="" class="icon-choices"><mat-icon>send</mat-icon> AdChoices</a>
    </div>
    <ul>
      Language:
      <li><a href="">English</a></li>
      <li><a href="">Deutsch</a></li>
      <li><a href="">Français</a></li>
      <li><a href="">日本語</a></li>
    </ul>
    <span>&copy; 2020 Adobe. All rights reserved.</span>
  </section>
</footer>
