footer{
    background-color: #323232;
    padding: 20px;
}
hr {
    border: 1px solid rgba(205, 205, 205, 0.05);
}
.links-footer{
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 50px;
    color: #bcbcbc;
}
.help-links {
    display: flex;
    width: 100%;
}
.help-links div{
    width: 25%;
    padding: 0px 10px;
}
.help-links h4{
    font-size: 12px;
    color: #838383;
    font-weight: bold;
}
.help-links a {
    font-size: 12px;
    display: inline-flex;
    margin-top: 7px;
    font-weight: bold;
}
.logo-footer{
    width: 50%;
    color: #eeeeee;
    height: auto;
}
a{
    color: #bcbcbc;
    text-decoration: none;
}

.deep-footer{
    font-size: 12px;
    color: #bcbcbc;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
mat-icon{
    font-size: 15px;
    color: rgb(83, 181, 246);
    width: 15px;
}
.icon-choices {
    margin-left: 10px;
    color: black;
    font-size: 15px;
}
.deep-footer div a {
    margin-right: 10px;
    font-size: 12px;
}
.deep-footer div{
    
}
ul{
    display: flex;
    position: relative;
    margin: auto;
}
ul li{
    margin-left: 10px;
    list-style: none;
    text-decoration: underline;
}


@media (min-width: 580px ) {

    .logo-footer h1{
        width: 300px;
        height: auto;
    }

    .links-footer {
        display: flex;
    }
    span{
        margin-left: 10px;
    }
    
}

@media (max-width: 580px ){
    ul{
        margin: 0;
        padding-left: 0px;
        padding-right: 40px;
    }
    .help-links{
        flex-wrap: wrap;
    }
    .help-links div{
        width: 150px;
        margin-top: 20px;
    }
}