<div class="body-search">
  <div class="logo-search">
    <a href="">Adobe Fonts</a>
  </div>
  <div class="search-input">
    <button label class="icons" mat-icon-button for="file">
      <mat-icon  aria-label="Example icon-button with a heart icon">search</mat-icon>
    </button>
    <input type="search"
    placeholder="Search fonts, foundries, designers, and more...">
    <button label class="icons2" mat-icon-button for="file">
      <mat-icon  aria-label="Example icon-button with a heart icon">camera_alt</mat-icon>
    </button>
    <input type="file" id="file">
  </div>
  <div class="myFonts">
    <a href="">My Adobe Fonts</a>
  </div>
</div>
