.sidenav-container {
  height: 100%;
  color: #bcbcbc;
}

.sidenav {
  width: 235px;
  background-color: #323232;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar{
  background-color: #323232;
  color: #bcbcbc;
  height: 48px;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-toolbar span {
  margin: auto;
  padding-right: 80px;
}

.menu-nav, .menu-login{
  display: flex;
  position: absolute;
  top: -9px;
}
.menu-login{
  right: 10px;
}
.mat-list-item{
  color: #bcbcbc;
  font-size: 14px;
}
.mat-list-item:hover{
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 580px ) {
  .sidenav {
    display: none;
    padding-top: 20px;
  }
  span{
    display: none;
  }
}

@media (max-width: 600px) {
  .menu-nav{
    display: none;
  }
}
